[Desktop Entry]
Name=AudioHoard
Comment=A desktop music player that streams from free sources
Exec=snowify %u
Icon=cc.snowify.Snowify
Terminal=false
Type=Application
Categories=Audio;Music;Player;
MimeType=x-scheme-handler/audiohoard;x-scheme-handler/snowify;
StartupWMClass=audiohoard
Keywords=Music;Player;Streaming;YouTube;
